<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Engage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Engage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Engage.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Cookie" serializeAs="String">
                <value />
            </setting>
            <setting name="CookieDate" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoricalOffset" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FutureOffset" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EnableNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ShowAs" serializeAs="String">
                <value>olFree</value>
            </setting>
            <setting name="DefaultOffsets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecycleNItems" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AutoEmptyRecycle" serializeAs="String">
                <value>False</value>
            </setting>
        </Engage.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <Engage.Properties.Settings>
            <setting name="UserLoginUrl" serializeAs="String">
                <value>http://bluepumpkin:7001/wfo/control/signin</value>
            </setting>
            <setting name="PostUrl" serializeAs="String">
                <value>http://bluepumpkin:7001/wfo/control/myschedule#MessageBox</value>
            </setting>
        </Engage.Properties.Settings>
    </applicationSettings>
</configuration>
